* {
    margin: 0;
    padding: 0;
}

.calculator {
    border-style: solid;
    backdrop-filter: blur(5px);
    min-width: 20vw;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    padding: 2vw 2vw;
    background-color:rgba(255, 255, 255, 0.05);
    border-color: rgba(255, 255, 255, 0.5);
    border-width: 5px;
}

.viewport {
    min-height: 15vh;
    display: flex;
    flex: 1;
    border-style: solid;
    border-radius: 1vw; 
    margin-bottom: 2vw;
    border-color: rgba(255, 255, 255, 0.5);
    justify-content: flex-end;
}

.viewport span {
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 2.5em;
    margin-right: 1vw;
}

.calculator .buttonrow {
    display: flex;
    flex: 0.5;
}

.calculator .buttonrow button {
    flex: 1;
    border: 0;
    margin: 7.595px 7.595px;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.85);
}

.calculator .value {
    background-color: rgba(255, 255, 255, 0.25);
}

.calculator .buttonrow button:hover {
    background-color: rgba(255, 255, 255, 0.571);
}

#C {
    background-color: rgb(252,99,48);
}

#AC {
    background-color: rgb(252,176,69);
}

#equals {
    flex: 2.154;
    background-color: rgb(131,58,180);
}

.calculator .operator {
    background-color: rgb(188,45,110);
}

body {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

html, body {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
